<ul class="dropdown-menu dropdown-menu--right px-0">
    <li>
        <div class="dropdown-cart px-0">
            <div class="dc-header">
                <h3 class="heading heading-6 strong-600">Cart</h3>
            </div>
            <%@current_cart.cart_items.each do |cart_item|%>
            <div class="dc-item", id="<%=cart_item.id%>">
                <div class="d-flex align-items-center">
                    <div class="dc-image">
                      <%=image_tag cart_item.item.image_url, id: 'image_id'%>
                    </div>
                    <div class="dc-content">
                        <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                          <%=link_to "#{cart_item.item.name}", items_show_path(cart_item.item.id)%>
                        </span>
                        <span class="dc-quantity">x<%=cart_item.quantity%></span>
                        <span class="dc-price"><%=number_to_currency(cart_item.item.price, unit:'$')%></span>
                    </div>
                </div>
            </div>
            <%end%>
            <div class="dc-item py-4">
                <span class="subtotal-text">Total</span>
                <span class="subtotal-amount"><%=number_to_currency(@current_cart.tot, unit:'$')%></span>
            </div>
            <div class="py-4 text-center">
                <ul class="inline-links inline-links--style-3">
                    <li class="pr-3">
                        <a href="#" class="link link--style-2 text-capitalize">
                            <i class="ion-person"></i> My account
                        </a>
                    </li>
                    <li class="pr-3">
                        <a href="#" class="link link--style-1 text-capitalize">
                            <i class="ion-bag"></i> View cart
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link link--style-1 text-capitalize">
                            <i class="ion-forward"></i> Checkout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
