<div class="container mt-5 mb-5">
<h1 class="h3 mb-3">Orders</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Your passed orders</h5>
        <h6 class="card-subtitle text-muted">You did treat yourself</h6>
      </div>
      <div class="card-body">
        <table id="datatables-basic" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Order n°</th>
              <th>Recipient</th>
              <th>Billing Address</th>
              <th>Delivery Address</th>
              <th>Number of items</th>
              <th>Total</th>
              <th>Created on</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |element| %>
              <tr>
                <td><%= element.id %></td>
                <td><%= element.user_name %></td>
                <td><%= element.billing_address %></td>
                <td><%= element.delivery_address %></td>
                <td><%= element.number_of_items %></td>
                <td>$ <%= element.total %></td>
                <td><%= element.created_at.to_date %></td>
                <td><%= element.treatment %>
                <td class="table-action">
                  <%= link_to users_order_path(element.id) do %>
                    <i class="align-middle" data-feather="eye"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot> 
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
</div>