<section class="slice sct-color-1" id="sct_products">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-9 order-lg-2">
                <div class="row-wrapper">
                
                    <div class="row cols-xs-space cols-sm-space cols-md-space">
                <% @items.each do |item| %>    
                        <div class="col-lg-4">
                
                            <div class="block product bg-transparent no-radius">
                                <div class="product-image">
                                    <div class="view view-first">
                                      <img src="<%= item.image_url %>" alt="img shop"> 
                                    </div>

                                    <div class="product-actions--a product-actions--2" data-animation-in="slideInRight"  data-animation-out="slideOutRight">
                                        <button type="button" class="btn-product-action">
                                        <i class="ion-bag"></i>
                                        </button>
                                        
                                        <button type="button" class="btn-product-action">
                                        <i class="ion-ios-heart-outline"></i>
                                        </button>
                                    </div>

                                </div>
                    
                                <div class="block-body px-0">
                                    <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= link_to item.name, items_show_path(item.id) %></h3>
                                    
                                    <div class="price-wrapper">
                                        <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%=number_to_currency( item.price, :unit=>'€') %></span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                <% end %>
                        
                    </div> 

                </div>

                <!-- Pagination -->
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="sidebar sidebar--style-4 b-lg-right">
                    
                    <!-- Product categories menu -->
                    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
                        <h2 class="sidebar-object-title">
                        <span>Categories</span>
                        </h2>
                         
                        <div class="filter-checkbox">
                        <% @categories.each do |cat| %>
                          <%= form_tag items_filter_path, method: :get do %>

                              <%= radio_button_tag :option, ["category", cat.id], false, onclick: "this.form.submit();"%>
                               <%=label_tag  cat.name %>
                          <%end%>
                        <% end %>
                        </div>
                    </div>
                    
                    <!-- Filter by material -->
                    <div class="sidebar-object b-xs-bottom pb-4 mb-4">
                        <h2 class="sidebar-object-title">
                        <span>Filter by brand</span>
                        </h2>
                        <div class="filter-checkbox">
                        <% @brands.each do |brand| %>
                          <%= form_tag items_filter_path, method: :get do %>
                            <%= radio_button_tag :option, ["brand", brand.id], false, onclick: "this.form.submit();"%>
                             <%=label_tag  brand.name %>
                          <%end%>
                         <% end %>
                        </div>
                    </div>
                            
                        </div>
                    </div>
        </div>
    </div>
</section>
