<section class="slice bg-minimalist">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="<%= @item.image_url %>" alt="img shop" class="pl-5">
            </div>
            <div class="col-lg-5 ml-lg-auto">
                <div class="product-description-wrapper">
                    <!-- Product title -->
                    <h2 class="heading heading-4 strong-600 text-capitalize">
                    <%= @item.name %>
                    </h2>
                    <span class="heading heading-light heading-5 strong-600 mt-3">
                    <%= number_to_currency( @item.price, :unit=>'$') %>
                    </span>
                    <span class="space-xs-md"></span>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-default">
                               <%= form_for @item, url: cart_items_path(@item), method: :post, remote: true do |f|%>
                                        <div class="product-short-text">
                                            <p>
                                                <%= @item.description %>
                                            </p>
                                        </div>
                                <div class="row mb-3 mt-2">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <%= f.collection_select :size_ids, Size.all, :id, :value, class:"form-control select2"%>
                                       </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                <% if user_signed_in? %>
                                    <div class="col-12">
                                        <!-- Add to cart button -->
                                        <%=f.submit 'Add to cart',class: "btn btn-lg btn-block btn-gray-dark btn-icon-left" %>
                                        <% end %>
                                    </div>
                               <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% unless user_signed_in? %>
                    <%= button_to "Connect to order", new_user_session_path, method: :get, class: "btn btn-lg btn-block btn-gray-dark btn-icon-left" %>
                    <% end %>
                    <span class="space-xs-md"></span>
                </div>
            </div>
        </div>
    </div>
</section>
